<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-whealth"
  version="2.1.0">

  <name>Cordova Google Play</name>

  <description>
    A plugin that abstracts fitness and health repositories for android Google Fit
  </description>

  <author>Dario Salvi, based on code by Eddy Verbruggen / Telerik and Carmelo Velardo</author>

  <license>MIT</license>

  <keywords>Health, HealthKit, Fit, Fitness, Google Fit</keywords>

  <repo>https://github.com/dariosalvi78/cordova-plugin-health.git</repo>

  <issue>https://github.com/dariosalvi78/cordova-plugin-health/issues</issue>

  <engines>
    <engine name="cordova" version=">=6.0.0"/>
  </engines>

  <!-- android -->
  <platform name="android">
    <framework src="com.google.android.gms:play-services-fitness:$FIT_API_VERSION" />
    <preference name="FIT_API_VERSION" default="21.1.0"/>

    <framework src="com.google.android.gms:play-services-auth:$PLAY_AUTH_VERSION" />
    <preference name="PLAY_AUTH_VERSION" default="20.2.0"/>


    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.BODY_SENSORS" />
      <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
      <!-- Use the following if API target is < 29 -->
      <uses-permission android:name="android.gms.permission.ACTIVITY_RECOGNITION"/>
      <!-- Use the following if API target is > 30 -->
      <queries>
        <package android:name="com.google.android.apps.fitness" />
      </queries>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="whealth">
        <param name="android-package" value="org.apache.cordova.whealth.HealthPlugin" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <source-file src="src/android/HealthPlugin.java" target-dir="src/org/apache/cordova/whealth/" />

    <js-module src="www/android/whealth.js" name="whealth">
      <clobbers target="navigator.whealth" />
    </js-module>
  </platform>

</plugin>
